
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}
.list-img {
  list-style: none;
}

.btn {
  background-color: gray;
  border: none;
  display: inline-block;
  margin: 2px 4px;
  padding: 5px;

}